<form action="/posts" method="post">
  <label for="post[name]">Name: </label>
  <input type="text" name="post[name]" id="name"><br>
  <label for="post[content]">Content: </label><br>
  <input type="textarea" name="post[content]" id="content"><br>
  <input type="submit" id="submit">
</form>
